body {
	background: linear-gradient(45deg, #85a9c5, #87c1ef);
	margin: 0px;
}

.header{
	position: relative;
	display: block;
	height: 150px;
	width: 900px;
	margin: 0px auto;
	background-color: transparent;
	overflow: visible;
	font-family: 'Indie Flower', cursive;
}
.header h1 {
	display: inline-block;
	font-size: 6em;
	margin: 0px 0px 0px 10px;
	color: #0f5891;
	text-shadow: 3px 3px #6998ac;
}
.header p {
	display: inline-block;
	margin: 0px 0px 0px 20px;
	color: #0f5891;
}
a{
	text-decoration: none;
	color: #00a6dd;
}
.controls{
	position: relative;
	display: block;
	height: 50px;
	width: 100%;
	background-color: #39688c;
}
.button{
	margin-left: 30px;
	display: inline-block;
	background-color: white;
}
.canvas-container{
	display: block;
	position: relative;
	width: 900px;
	height: 650px;
	margin: 0px auto 100px auto;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 1px 1px 5px #39688c;
}
.canvas{
	background-color: white;
}
.canvas:hover{
	cursor: crosshair;
}
#div-color{
	margin-left: 20px;
	border-radius: 50%;
	border: 1px black solid;
	width: 30px;
	height: 30px;
}
#input-color{
	opacity: 0;
}
#input-width{
	margin-top: 15px;
}
input[type="button"]{
	top: -5px;
}
.buttons{
	position: relative;
	display: inline-block;
	margin-left: 5px;
	margin: 5px 0px 4px 5px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}
.footer{
	position: relative;
	display: block;
	width: 100%;
	height: 400px;
	background-color: black;
}
.footer-text{
	position: relative;
	display: inline-block;
	height: 100px;
	width: 800px;
	margin-top: 50px;
	font-family: 'Indie Flower';
	color: white;
	font-size: 1.3em;
}
.logo{
	position: relative;
	display: block;
	height: auto;
	width: 200px;
	margin: 50px 100px;
	border: 4px solid #39688c;
	float: left;
}
